<style>
        #transit{
            text-transform:uppercase;
        }
</style>
   <header style="margin-bottom: 0px;  font-family: 'NanumSquare'; text-rendering:optimizeLegibility;  -webkit-font-smoothing: antialiased;" class="mb-auto">
    <div>
        <nav class="nav nav-masthead justify-content-center float-md-start">
            <p class="not-visible" style="font-size: 2px;">간</p>
            <a id="transit" href="{% url 'index' %}" class="float-md-start mb  0" style="font-family: 'Anton', sans-serif; height:30px; line-height: 1.25em; text-decoration:none; color:rgb(255, 165, 0); font-size: 30px;">P I K S</a>
            <p class="not-visible" style="font-size: 25px;">격</p>
            <a class="nav-link; btn btn-outline-warning fw-bold border-white bg-dark;" href="{% url 'best' %}" style="padding-top:2px; margin-top: 4px; height:30px; 
            color: white; font-size: 16px; ">인기 광고</a>
            <p class="not-visible">간</p>
            <a class="nav-link; btn btn-outline-warning fw-bold border-white bg-dark;" href="{% url 'new' %}" style="padding-top:2px; margin-top: 4px; height:30px; 
            color: white; font-size: 16px; ">최신 광고</a>
            <p class="not-visible">격</p>
            <a class="nav-link; btn btn-outline-warning fw-bold border-white bg-dark;" href="{% url 'all' %}" style="padding-top:2px; margin-top: 4px; height:30px; 
            color: white; font-size: 16px; font-weight: lighter; ">모든 광고</a>
            <p class="not-visible">간격간격간격간격간격간격간격간격간격간   rksrksrur간격간격간간간격간격간격간격간격간격간격간격간간격간격간간격간격간격간격간격간격</p>
                
        </nav>
        <nav class="nav nav-masthead justify-content-center flex-end">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" style= "width:60%;padding-top:2px; margin-top: 4px;  opacity:0.5;">
                <input style= "height:35px; " type="search" class="form-control height:30px;  form-control-dark" placeholder="SEARCH" aria-label="Search">
            </form> 

            <div class="dropdown text-end" style="opacity:0.7;">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../static/img/hanyang.png" alt="mdo" width="40" height="40" class="rounded-circle">
                </a>

            </div>
            <button type="button" class="btn btn-outline-warning me-2" style= "font-size: 16px; font-weight: bold; padding-top:2px; margin-top: 9px; height:30px;">로그아웃</button>
        </nav>
    </div>
    </header>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
    jQuery(document).ready(function(){
    $('#transit').mousemove(function(e){
        var rXP = (e.pageX - this.offsetLeft+$(this).width()/2);
        var rYP = (e.pageY - this.offsetTop+$(this).height()/2);
        $('#transit').css('text-shadow', +rYP/10+'px '+rXP/80+'px rgba(227,6,19,.8), '+rYP/8+'px '+rXP/60+'px rgba(255,237,0,1), '+rXP/70+'px '+rYP/12+'px rgba(0,159,227,.7)');
        });
    });
</script>